/*
 * @package themecentury
 * @subpackage lekh
 */

/*************************************************************************************
-------------------------------- Breaking News --------------------------------------
*************************************************************************************/

.top-header .breaking-news{
	direction: ltr;
}

.top-header .breaking-news .owl-item{
	direction: rtl;
}

/*************************************************************************************
-------------------------------- Widgets Section -------------------------------------
*************************************************************************************/


.widget_recent_entries li::before,
.widget_pages li::before{
	content: "\f100";
}

.widget_meta li::before{
	content: "\f104";
}