.site-footer{
	margin: 20px auto 0;
	border-top: 1px solid #eee;
    background-color: $footer_background;
}
.footer-copy{
	clear: both;
	padding: 15px 0;
}
.site-info{
	color: #fff;
	text-align: center;
    font-size: 0.875rem;
}
.site-credits{
    color: #fff;
    text-align: center;
	margin-bottom: 15px;
    font-size: 0.875rem;
}
.site-info{
    a{
        color: #fff;
    }
}
.parallax{
    height: 100%; 
    max-width: auto;
    margin-left:-55px;
    margin-right:-54px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;   
    @media(max-width:720px){
        margin-left:0px;
        margin-right:0px;
    }
    @media(max-width:1340px){
        margin-left:0px;
        margin-right:0px;
    }
}
.parallax-content { 
    width:100%;
    margin:0 auto;
    color:#FFF;
    padding-top:5px; 
} 